.adornment {
  width: 100%;
  height: 100%;
  .chicken {
    position: absolute;
    background-image: url('../media/images/chicken.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
    transform: rotateY(180deg);
    &.c1 {
      left: 49px;
      top: 145px;
      background-size: 36px 36px;
      height: 36px;
      width: 36px;
      transform: rotateY(0);
    }
    &.c2 {
      left: 450.75px;
      top: 396.75px;
    }
  }
  .chicken-s {
    position: absolute;
    
    background-image: url('../media/images/chicken-child.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
    transform: rotateY(180deg);
    &.c4 {
      left: 498.5px;
      top: 403.5px;
    }
    &.c5 {
      left: 511px;
      top: 424px;
    }
    &.c6 {
      left: 525.75px;
      top: 401.75px;
    }
    &.c7 {
      left: 547.25px;
      top: 412.25px;
    }
  }
  .tree1 {
    position: absolute;
    background-image: url('../media/images/tree1.png');
    background-repeat: no-repeat;
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
  }
  .tree2 {
    position: absolute;
    background-image: url('../media/images/tree2.png');
    background-repeat: no-repeat;
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
  }
  .tree {
    &.t1 {left: -13.25px; top: 159.75px;}
    &.t2 {left: -23.25px; top: 212.75px;}
    &.t3 {left: -29.5px; top: 267.5px;}
    &.t4 {left: -37.75px; top: 323.25px;}
  }
  .flower {
    position: absolute;
    background-image: url('../media/images/flower.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    &.f1 {
      left: 527px;
      top: 155px;
    }
    &.f2 {
      left: 624px;
      top: 421px;
    }
    &.f3 {
      left: 476px;
      top: 223px;
    }
  }
  .grass {
    position: absolute;
    background-image: url('../media/images/grass.png');
    background-repeat: no-repeat;
    background-size: 10px 10px;
    height: 10px;
    width: 10px;
    
    right: 470px;
    top: 90px;
    &.g1 {
      
    }
    &.g2 {
      
    }
    &.g3 {
      
    }
    &.g4 {
      
    }
    &.g5 {
      
    }
  }
  
}