.field {
  border: 1px solid black;
  width: 300px;
  height: 350px;
  top: 100px;
  left: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  transform: rotate3d(1, 0, 0, 34deg);
  // transform: rotate3d(1, 0, 0, -144deg);
  
  background-color: #175d16;
  .sub-field {
    position: relative;
    border: 1px solid black;
    // cursor: pointer;
    // transform: rotateX(180deg);
    background-repeat: no-repeat;
    background-size: 78px 78px;
    &.disable {
      cursor: not-allowed;
      background-color: gray;
      &:hover {
        background-color: gray;
      }
    }
    .plant {
        transform: rotate3d(1, 1, 0, 22deg);
        &.white-radish{
          background-image: url('../media/images/white-radish.png');
        }
        &.white-radish-small{
          background-image: url('../media/images/white-radish.small.png');
        }
        &.cauliflower{
          background-image: url('../media/images/cauliflower.png');
        }        
        &.cauliflower-small{
          background-image: url('../media/images/cauliflower.small.png');
        }
        &.qingjiang{
          background-image: url('../media/images/qingjiang.png');
        }
        &.qingjiang-small{
          background-image: url('../media/images/qingjiang.small.png');
        }
        &.persimmon{
          background-image: url('../media/images/persimmon.png');
        }
        &.persimmon-small{
          background-image: url('../media/images/persimmon.small.png');
        }
    }

    &.wasteland {
    }
    &.weed {
      background-image: url('../media/images/weed.png');
    }
    &.space {
      background-image: url('../media/images/space.png');
      background-color: #b08b44;
    }
    &.seed {
      background-image: url('../media/images/space.png');
      .plant {
        background-image: url('../media/images/seed.png');
        width: 35px;
        height: 35px;
        background-repeat: no-repeat;
        background-size: cover;
        left: 16px;
        top: 18px;
        &.qingjiang{
          background-image: url('../media/images/seed2.png');
        }
      }
    }
    &.seeding {
      background-image: url('../media/images/space.png');
      .plant {
        background-image: url('../media/images/seeding.png');
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        left: 26px;
        top: 23px;
      }
    }
    &.grow-small {
      background-image: url('../media/images/space.png');
      .plant {
        width: 35px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: cover;
        left: 20px;
        top: 18px;
        
        &.white-radish{
          background-image: url('../media/images/white-radish.small.png');
        }
        &.cauliflower{
          background-image: url('../media/images/cauliflower.small.png');
        }
        &.qingjiang{
          background-image: url('../media/images/qingjiang.small.png');
        }
      }
    }
    &.grow {
      background-image: url('../media/images/space.png');
      .plant {
        width: 45px;
        height: 35px;
        background-repeat: no-repeat;
        background-size: cover;
        left: 16px;
        top: 14px; 
        &.white-radish{
          background-image: url('../media/images/white-radish.png');
        }
        &.cauliflower{
          background-image: url('../media/images/cauliflower.png');
        }
        &.qingjiang{
          background-image: url('../media/images/qingjiang.png');
        }
      }
    }

    &.wet {
      background-image: url('../media/images/space-wet.png');
    }
  }
}
