body {
  background-color: #fff;
  font-family: sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 140%;
}

.main-frame {
  overflow: hidden;
  width: 800px;
  height: 600px;
  border: 1px solid black;
  position: relative;
  margin: 0 auto;
  perspective: 800px;
  div {
    position: absolute;
  }
  .account-info {
    width: 320px;
    height: 70px;
    background-color: #d5d5d5;
    overflow: hidden;
    .exp {
      border: 1px solid black;
      width: 200px;
      height: 15px;
      line-height: 10px;

      left: 70px;
      top: 10px;
      .full-exp {
        width: 100%;
        height: 100%;
      }
      .real-exp {
        background-color: #eddc21;
        width:50%;
        height: 100%
      }
      .text {
        right: -25px;
        top: 0px;
        position: absolute;
      }
    }
    .level {
      border: 1px solid black;
      width: 60px;
      height: 50px;
      left: 0px;
      top: 0px;
      font-size: 30px;

    }
    .money {
      height: 24px;
      // border: 1px solid black;
      top: 36px;
      left: 70px;
    }
  }

  .shop {
    // border: 1px solid black;
    right: 330px;
    font-size: 35px;
  }

  .weather {
    // border: 1px solid black;
    right: 130px;
    height: 100px;
    width: 100px;
    padding: 5px;
    .fa-cloud-moon {
      font-size: 50px;
      position: absolute;
      right: 0;
    }
    .fa-temperature-low {
      font-size: 30px;
      position: absolute;
      left: 27px;
      top: 11px;
    }
    .temperature-text {
      font-size: 20px;
      position: absolute;
      left: 2px;
      top: 10px;
    }
  }

  .fence {
    border: 1px solid black;
    left: 0px;
    bottom: 10px;
    height: 120px;
    width: 680px;
    .fence-divs {
      $fence-color: #bf6730;
      top: 100px;
      left: -60px;
      div {
        background-color: $fence-color;
        position:relative;
      }
      .fence-1{
        width:20px;
        height:80px;
        background-color: $fence-color;
        top:-80px;
        left:280px;
        z-index:30;
        &::after{
          content:'';
          position:absolute;
          width:0;
          height:0;
          border-right:10px solid transparent;
          border-bottom:15px solid  $fence-color;
          border-left:10px solid transparent;
          top:-15px;
        }
        &::before{
          content:'';
          position:absolute;
          width:100px;
          height:20px;
          background-color: $fence-color;
          left:-85px;
        }
      }
      .fence-2{
        position:relative;
        width:20px;
        height:80px;
        background-color: $fence-color;
        top:-160px;
        left:240px;
        z-index:30;
        &::after{
          content:'';
          position:absolute;
          width:0;
          height:0;
          border-right:10px solid transparent;
          border-bottom:15px solid  $fence-color;
          border-left:10px solid transparent;
          top:-15px;
        }
         &::before{
          content:'';
          position:absolute;
          width:100px;
          height:20px;
          background-color: $fence-color;
          left:-45px;
           top:40px;
        }
      }
      .fence-3{
        position:relative;
        width:20px;
        height:80px;
        background-color: $fence-color;
        top:-240px;
        left:200px;
        z-index:30;
        &::after{
          content:'';
          position:absolute;
          width:0;
          height:0;
          border-right:10px solid transparent;
          border-bottom:15px solid  $fence-color;
          border-left:10px solid transparent;
          top:-15px;
        }
      }

      .fence-4{
        position:relative;
        width:20px;
        height:80px;
        background-color: $fence-color;
        top:-320px;
        left:595px;
        z-index:30;
        &::after{
          content:'';
          position:absolute;
          width:0;
          height:0;
          border-right:10px solid transparent;
          border-bottom:15px solid  $fence-color;
          border-left:10px solid transparent;
          top:-15px;
        }
        &::before{
          content:'';
          position:absolute;
          width:105px;
          height:20px;
          background-color: $fence-color;
        }
      }
      .fence-5{
        position:relative;
        width:20px;
        height:80px;
        background-color: $fence-color;
        top:-400px;
        left:635px;
        z-index:30;
        &::after{
          content:'';
          position:absolute;
          width:0;
          height:0;
          border-right:10px solid transparent;
          border-bottom:15px solid  $fence-color;
          border-left:10px solid transparent;
          top:-15px;
        }
        &::before{
          content:'';
          position:absolute;
          width:105px;
          height:20px;
          background-color: $fence-color;
          left:-40px;
          top:40px;
        }
      }
      .fence-6{
         position:relative;
        width:20px;
        height:80px;
        background-color: $fence-color;
        top:-480px;
        left:675px;
        z-index:30;
        &::after{
          content:'';
          position:absolute;
          width:0;
          height:0;
          border-right:10px solid transparent;
          border-bottom:15px solid  $fence-color;
          border-left:10px solid transparent;
          top:-15px;
        }
      }
    }
  }

  .greenhouse {
    border: 1px solid;
    width: 200px;
    height: 200px;
    right: 120px;
    top: 140px;
  }

  .mail-box {
    border: 1px solid black;
    right: 330px;
    bottom: 0px;
    height: 140px;
    width: 50px;
    &:hover {
      cursor: pointer;
    }
  }
  .tools-box {
    // border: 1px solid black;
    overflow: hidden;
    width: 120px;
    &.right {
      transition: right 0.5s;
      height: 100%;
      right: 0px;
      width: 140px;
      &.hidden {
        right: -120px;
      }
      .arrow {
        border: 1px solid black;
        border-radius: 6px;
        width: 40px;
        height: 70px;
        font-size: 36px;
        left: 0px;
        top: 229px;
        &:hover{
          cursor: pointer;
        }
        .fas {
          transition: transform 0.5s;
          transform: rotateZ(0deg);
          position: relative;
          top: 4px;
          left: 1px;

        }
        .rotate{
          transform: rotateZ(180deg);
        }
      }
      .tool{
         right: -20px;
      }
    }

    &.left {
      height: 100px;
      left: 10px;
      bottom: 10px;
      position: absolute;
    }
    .tool {
      background-color: white;
      position: relative;
      border:1px solid black;
      border-bottom: 0px;
      width: 120px;
      height: 120px;

      &:hover {
        cursor: pointer;
      }

      &.seed {
        background-image: url('../media/images/seed.png');
        background-repeat: no-repeat;
        background-size: 120px 120px;
      }
      &.water {
        .fa-tint {
          font-size: 50px;
          position: absolute;
          left: 50px;
          top: 30px;
        }
      }
      &.pest-control {
        .fa-spider {
          font-size: 50px;
          position: absolute;
          left: 50px;
          top: 30px;
        }
      }
      &.plant-food {
        background-image: url('../media/images/plant-food.png');
        background-repeat: no-repeat;
        background-size: 120px 120px;
      }
      &.weeding {
        background-image: url('../media/images/weeding.png');
        background-repeat: no-repeat;
        background-size: 120px 120px;
      }
      &.harvest {
        border: 0px;
        height: 100px;
        width: 100px;
        background-image: url('../media/images/harvest.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

.mouse-sickle {
  cursor:url(../media/images/mouse-sickle.png), pointer;
}
.mouse-grove {
  cursor:url(../media/images/mouse-grove.png), pointer;
}
.mouse-white-radish,
.mouse-cauliflower,
.mouse-persimmon,
.mouse-seed {
  cursor:url(../media/images/mouse-seed.png), pointer;
}
.mouse-qingjiang{
  cursor:url(../media/images/mouse-seed2.png), pointer;
}
.mouse-plant-food{
  cursor:url(../media/images/mouse-plant-food.png), pointer;
}
.mouse-plant-food2{
  cursor:url(../media/images/mouse-plant-food2.png), pointer;
}
.mouse-plant-food3{
  cursor:url(../media/images/mouse-plant-food3.png), pointer;
}