body {
  background-color: #fff;
  font-family: sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 140%;
}

.main-frame {
  overflow: hidden;
  width: 800px;
  height: 600px;
  border: 1px solid black;
  position: relative;
  margin: 0 auto;
  perspective: 800px;
  background-color: #eae9ae;
  div {
    position: absolute;
  }
  .account-info {
    width: 320px;
    height: 70px;
    background-color: #d5d5d5;
    overflow: hidden;
    .exp {
      border: 1px solid black;
      width: 200px;
      height: 15px;
      line-height: 10px;

      left: 70px;
      top: 10px;
      .full-exp {
        width: 100%;
        height: 100%;
      }
      .real-exp {
        background-color: #eddc21;
        width:50%;
        height: 100%
      }
      .text {
        right: -25px;
        top: 0px;
        position: absolute;
      }
    }
    .level {
      border: 1px solid black;
      width: 60px;
      height: 50px;
      left: 0px;
      top: 0px;
      font-size: 30px;

    }
    .money {
      height: 24px;
      // border: 1px solid black;
      top: 36px;
      left: 70px;
    }
  }

  .shop {
    background-image: url('../media/images/shop.png');
    background-repeat: no-repeat;
    // background-size: 120px 120px;
    
    right: 330px;
    font-size: 35px;
  }

  .weather {
    // border: 1px solid black;
    right: 130px;
    height: 100px;
    width: 100px;
    padding: 5px;
    .fa-cloud-moon {
      font-size: 50px;
      position: absolute;
      right: 0;
    }
    .fa-temperature-low {
      font-size: 30px;
      position: absolute;
      left: 27px;
      top: 11px;
    }
    .temperature-text {
      font-size: 20px;
      position: absolute;
      left: 2px;
      top: 10px;
    }
  }

  .greenhouse {
    width: 240px;
    height: 200px;
    right: 90px;
    top: 140px;
    background-image: url('../media/images/greenhouse.png');
    cursor: not-allowed;
  }


  .tools-box {
    // border: 1px solid black;
    overflow: hidden;
    width: 120px;
    &.right {
      transition: right 0.5s;
      height: 100%;
      right: 0px;
      width: 140px;
      &.hidden {
        right: -120px;
      }
      .arrow {
        background: #ffe591;
        border: 1px solid black;
        border-radius: 6px;
        width: 40px;
        height: 70px;
        font-size: 36px;
        left: 0px;
        top: 229px;
        &:hover{
          cursor: pointer;
        }
        .fas {
          transition: transform 0.5s;
          transform: rotateZ(0deg);
          position: relative;
          top: 4px;
          left: 1px;

        }
        .rotate{
          transform: rotateZ(180deg);
        }
      }
      .tool{
         right: -20px;
         &.mail-box{
            background-image: url('../media/images/mail-box.png');
            background-repeat: no-repeat;
            background-size: 120px 120px;
         }
      }
    }

    &.bottom {
      height: 100px;
      width: 100%;
      left: 10px;
      bottom: 10px;
      position: absolute;
      overflow: initial;
    }
    .tool {
      background-color: #ffe591;
      position: relative;
      border:1px solid black;
      border-bottom: 0px;
      width: 120px;
      height: 120px;
      cursor: pointer;

      &.seed {
        background-image: url('../media/images/seed.png');
        background-repeat: no-repeat;
        background-size: 120px 120px;
      }
      &.water {
        background-image: url('../media/images/water.png');
        background-repeat: no-repeat;
        background-size: 100px 100px;
        background-position: 8px;
      }
      &.pest-control {
        background-image: url('../media/images/pest-control.png');
        background-repeat: no-repeat;
        background-size: 100px 100px;
        background-position: 8px;
      }
      &.plant-food {
        background-image: url('../media/images/plant-food.png');
        background-repeat: no-repeat;
        background-size: 120px 120px;
      }
      &.weeding {
        background-image: url('../media/images/weeding.png');
        background-repeat: no-repeat;
        background-size: 120px 120px;
      }
      &.fence-1 {
        cursor: initial;
        border: 0px;
        background-color: initial;
        background-image: url("../media/images/fence.png");
        background-size: 220px;
        background-repeat: no-repeat;
        background-position: 0px;
        position: absolute;
        width: 200px;
        height: 150px;
        left: 80px;
        bottom: -30px;
      }
      &.fence-2 {
        cursor: initial;
        border: 0px;
        background-color: initial;
        background-image: url("../media/images/fence.png");
        background-size: 220px;
        background-repeat: no-repeat;
        background-position: 0px;
        width: 200px;
        height: 150px;
        position: absolute;
        right: 120px;
        bottom: -30px;
      }
      &.harvest {
        background-color: initial;
        border: 0px;
        height: 100px;
        width: 100px;
        background-image: url('../media/images/harvest.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
      &.mail-box{ 
        background-color: initial;
        background-image: url("../media/images/mail-box.png");
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0px;
        right: 300px;
        width: 61px;
        height: 140px;
        border: 0px;
      }
    }
  }
}
.mouse-hoe {
  cursor:url(../media/images/mouse-hoe.png), pointer;
}
.mouse-sickle {
  cursor:url(../media/images/mouse-sickle.png), pointer;
}
.mouse-grove {
  cursor:url(../media/images/mouse-grove.png), pointer;
}
.mouse-spray {
  cursor:url(../media/images/mouse-spray.png), pointer;
}
.mouse-white-radish,
.mouse-cauliflower,
.mouse-persimmon,
.mouse-seed {
  cursor:url(../media/images/mouse-seed.png), pointer;
}
.mouse-qingjiang{
  cursor:url(../media/images/mouse-seed2.png), pointer;
}
.mouse-plant-food{
  cursor:url(../media/images/mouse-plant-food.png), pointer;
}
.mouse-plant-food2{
  cursor:url(../media/images/mouse-plant-food2.png), pointer;
}
.mouse-plant-food3{
  cursor:url(../media/images/mouse-plant-food3.png), pointer;
}
.mouse-watering-can {
  cursor:url(../media/images/mouse-watering-can.png), pointer;
}
.mouse-pipe {
  cursor:url(../media/images/mouse-pipe.png), pointer;
}