.sub-frame {
  border: 1px solid black;
  border-radius: 5px;
  width: 400px;
  height: 300px;
  background:  white;
  left: 120px;
  top: 90px;
  padding: 5px;
  background: #a2843b;
  &.hidden {
    display: none
  }
  .fa-times {
    position: absolute;
    top: 5px;
    right: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  .description {
    font-size: 20px;
    position: relative;
    padding: 0 20px;
    padding-top: 10px;
    width: 360px;
    height: 190px;
    border-bottom: 1px solid black;
  }
  .items {
    position: relative;
    padding: 2px;
    height: 94px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    .item {
      position: relative;
      border: 1px solid black;
      height: 100%;
      background-color: #dbb961
    }
  }
  &.weeding {
    .item {
      border-color: #94793d;
      box-shadow: -2px 2px 2px 1px #82682b inset;
      background-repeat: no-repeat;
      background-size: 90px;
      cursor: pointer;
      &.grove {
        background-image: url('../media/images/grove.png');
        background-repeat: no-repeat;
        background-size: 90px 90px;
      }
      &.sickle {
        background-image: url('../media/images/sickle.png');
        background-repeat: no-repeat;
        background-size: 90px 90px;
      }
      &.hoe {
        background-image: url('../media/images/hoe.png');
        background-repeat: no-repeat;
        background-size: 90px 90px;
        padding-left: 50px;
      }
      &.spray {
        background-image: url('../media/images/spray.png');
        background-repeat: no-repeat;
        background-size: 90px 90px;
      }
    }
  }
  &.water {
    .item {
      border-color: #94793d;
      box-shadow: -2px 2px 2px 1px #82682b inset;
      background-repeat: no-repeat;
      background-size: 90px;
      cursor: pointer;
      &.watering-can {
        background-image: url('../media/images/watering-can.png');
        background-repeat: no-repeat;
        background-size: 90px 90px;
      }
      &.pipe {
        background-image: url('../media/images/pipe.png');
        background-repeat: no-repeat;
        background-size: 90px 90px;
      }
      &.disable {
        cursor: not-allowed;
      }
    }
  }
  &.seeds {
    .item {
      border-color: #94793d;
      box-shadow: -2px 2px 2px 1px #82682b inset;
      background-repeat: no-repeat;
      background-size: 90px;
      cursor: pointer;
      &.white-radish{
        background-image: url('../media/images/white-radish.png');
      }
      &.cauliflower{
        background-image: url('../media/images/cauliflower.png');
      }
      &.qingjiang{
        background-image: url('../media/images/qingjiang.png');
      }
      &.persimmon{
        background-image: url('../media/images/persimmon.png');
      }
      &.disable {
        cursor: not-allowed;
      }
    }
  }
  &.plant-food {
    .item {
      border-color: #94793d;
      box-shadow: -2px 2px 2px 1px #82682b inset;
      background-repeat: no-repeat;
      background-size: 84px 84px;
      background-position: 5px 6px;
      cursor: pointer;
      &.plant-food{
        background-image: url('../media/images/plant-food.png');
      }
      &.plant-food2{
        background-image: url('../media/images/plant-food2.png');
      }
      &.plant-food3{
        background-image: url('../media/images/plant-food3.png');
      }
      &.disable {
        cursor: not-allowed;
      }
    }
  }
  &.pest-control {
    .item {
      border-color: #94793d;
      box-shadow: -2px 2px 2px 1px #82682b inset;
      background-repeat: no-repeat;
      background-size: 84px 84px;
      background-position: 5px 6px;
      cursor: not-allowed;
      &.item1{
        background-image: url('../media/images/pesticide1.png');
      }
      &.item2{
        background-image: url('../media/images/pesticide2.png');
      }
      &.item3{
        background-image: url('../media/images/pesticide3.png');
      }
      &.item4{
        background-image: url('../media/images/pesticide4.png');
      }
      &.disable {
        cursor: not-allowed;
      }
    }
  }
  &.mail-box{
    .header {
      width: 288px;
      height: auto;
      left: 10px;
      right: 10px;
      position: relative;
      border-bottom: 1px solid black;
    }
    .news {
      width: 373px;
      height: 260px;
      position: relative;
      padding: 5px 11px;
      a {
        display: block;
        width: 377px;
        height: 25px;
        text-overflow: ellipsis;
        overflow: hidden; 
      }
    }
  }

}